In [2]:
import pandas as pd
from datetime import datetime
import re

In [3]:
df = pd.read_json("../data/raw/hasil_tokopedia_scrap.json")
print("Jumlah data mentah: ", len(df))
df.head()

Jumlah data mentah:  3120

,Nama,Harga,Rating,Toko,Lokasi,URL
0,Headset / Headphone Gaming Rexus S6 / S 6 Pro ...,425000,5.0,BintangRayaKomputer,Jakarta Pusat,https://www.tokopedia.com/bintangrayacom/heads...
1,Rexus M2 Headset Wireless Bluetooth Headphone ...,189000,5.0,Risc Computer,Surakarta,https://www.tokopedia.com/risccomputer/rexus-m...
2,REXUS RX S9 PRO Headset Headphone Earphone Wir...,475000,5.0,Risc Computer,Surakarta,https://www.tokopedia.com/risccomputer/rexus-r...
3,SONY WH-ULT900N ULT Wear Wireless Headphone Bl...,2111111,5.0,ATI OFFICIAL STORE,Surabaya,https://www.tokopedia.com/ati/sony-wh-ult900n-...
4,Philips TAA1708 / TAA 1708 16mm Driver Bluetoo...,239000,5.0,Starcomp Solo,Kab. Banyumas,https://www.tokopedia.com/starcompsolo/philips...

In [4]:
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3120 entries, 0 to 3119
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nama    3120 non-null   object
 1   Harga   3120 non-null   int64
 2   Rating  3120 non-null   object
 3   Toko    3120 non-null   object
 4   Lokasi  3120 non-null   object
 5   URL     3120 non-null   object
dtypes: int64(1), object(5)
memory usage: 146.4+ KB

,Nama,Harga,Rating,Toko,Lokasi,URL
count,3120,3.120000e+03,3120,3120,3120,3120
unique,2863,NaN,16,926,52,3114
top,Headphone Bluetooth JETE 15 Deep Bass - Garans...,NaN,5.0,anugerah-2-1,Jakarta Barat,https://www.tokopedia.com/mixio-audio/special-...
freq,7,NaN,1186,161,824,2
mean,NaN,3.304280e+05,NaN,NaN,NaN,NaN
std,NaN,6.206354e+05,NaN,NaN,NaN,NaN
min,NaN,4.888000e+03,NaN,NaN,NaN,NaN
25%,NaN,6.957500e+04,NaN,NaN,NaN,NaN
50%,NaN,1.590000e+05,NaN,NaN,NaN,NaN
75%,NaN,3.350000e+05,NaN,NaN,NaN,NaN
max,NaN,1.290000e+07,NaN,NaN,NaN,NaN

In [5]:
df.columns = ['nama_produk', 'harga', 'rating', 'nama_toko', 'lokasi_toko', 'url']

In [21]:
keywords_to_exclude = ['casing', 'silikon', 'cover', 'accessories', 'aksesoris', 'sarung', 'baterai headset', 'pembersih']
df = df[~df['nama_produk'].str.lower().str.contains('|'.join(keywords_to_exclude))]
print(f"Jumlah data setelah filter relevansi: {len(df)}")

Jumlah data setelah filter relevansi: 3064

In [7]:
before = len(df)
df = df.drop_duplicates(subset=['url'])
after = len(df)
print(f"Duplikat url dihapus: {before - after} baris")

Duplikat url dihapus: 6 baris

In [8]:
df['timestamp'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

In [26]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [9]:
df = df.sort_values(by='harga', ascending=True).reset_index(drop=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3064 entries, 1 to 3113
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nama_produk  3064 non-null   object
 1   harga        3064 non-null   int64
 2   rating       3064 non-null   object
 3   nama_toko    3064 non-null   object
 4   lokasi_toko  3064 non-null   object
 5   url          3064 non-null   object
 6   timestamp    3064 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 191.5+ KB

In [28]:
df.head(1)

,nama_produk,harga,rating,nama_toko,lokasi_toko,url,timestamp
1,BISA COD H681 Headset Macaron U19 Headset warn...,6120,4.7,OS HOME,Kab. Tangerang,https://www.tokopedia.com/semuagratis/bisa-cod...,2025-11-17 08:13:50

In [29]:
output_path = "../data/cleaned/tokopedia_headphone_cleaned.csv"
df.to_csv(output_path, index=False)
print(f"Data bersih disimpan ke {output_path}")

Data bersih disimpan ke ../data/cleaned/tokopedia_headphone_cleaned.csv

In [30]:
df.head()

,nama_produk,harga,rating,nama_toko,lokasi_toko,url,timestamp
1,BISA COD H681 Headset Macaron U19 Headset warn...,6120,4.7,OS HOME,Kab. Tangerang,https://www.tokopedia.com/semuagratis/bisa-cod...,2025-11-17 08:13:50
3,Local 24h Ship + Headphone Cleaning Pen Portab...,9999,5.0,SUPERiCASE,Kab. Tangerang,https://www.tokopedia.com/supericase/local-24h...,2025-11-17 08:13:50
5,HEADSET WARNA WARNI Bluetooth Wireless Earphon...,10399,5.0,Gudang Obral_NEW,Kab. Bandung,https://www.tokopedia.com/belanjamurahhematbmh...,2025-11-17 08:13:50
12,BM025 HF Headset Macaron warna Bass Earphone H...,16250,4.7,Fypacc1,Kab. Bogor,https://www.tokopedia.com/fypacc1/bm025-hf-hea...,2025-11-17 08:13:50
13,BM025 HF Headset Macaron warna Earphone Headph...,16250,4.6,surgacell,Bogor,https://www.tokopedia.com/surgacell/bm025-hf-h...,2025-11-17 08:13:50